body {
  font-family: "Righteous", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #1e3a5f;
  color: #e0e0e0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container {
  padding: 30px;
  background-color: #1e3a5f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 80vh;
  overflow-y: auto;
}
h2 {
  text-align: center;
  font-family: "Righteous", sans-serif;
  font-size: 35px;
  margin-bottom: 20px;
  position: relative;
  top: 10px;
}
.header img {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-field {
  flex: 1;
  margin: 0 10px;
}
.input-field label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}
.input-field input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  font-size: 16px;
  font-family: "Righteous", sans-serif;
  color: #666;
  box-sizing: border-box;
  background-image: none;
}
.input-field input:focus {
  background-color: #d0d0d0;
  box-shadow: 0 0 5px rgba(30, 58, 95, 0.5);
  outline: none;
}
.button {
  background-color: #e0e0e0;
  color: #1e3a5f;
  border: none;
  border-radius: 25px;
  padding: 12px 30px;
  font-size: 16px;
  font-family: "Righteous", sans-serif;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  width: fit-content;
  font-weight: 500;
}
.button:hover {
  background-color: #d0d0d0;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table,
th,
td {
  border: 1px solid #e0e0e0;
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: #34495e;
  color: #e0e0e0;
  font-family: "Righteous", sans-serif;
}
td {
  background-color: #2c3e50;
  color: #e0e0e0;
  font-family: "Righteous", sans-serif;
}
.recent {
  background-color: #e0f7fa;
} /* Highlight recently modified courses */
.message {
  color: green;
}
.error {
  color: red;
}
