<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Advisor</title>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/student.css">
</head>
<body>
    <div class="container">
        <h2>Course Advisor</h2>
        <div class="input-row">
            <div class="input-field">
                <label>Current Semester</label>
                <select>
                    <option>Choose your current semester</option>
                    <option>Semester 1</option>
                    <option>Semester 2</option>
                    <option>Semester 3</option>
                    <option>Semester 4</option>
                    <option>Semester 5</option>
                    <option>Semester 6</option>
                    <option>Semester 7</option>
                    <option>Semester 8</option>
                </select>
            </div>
            <div class="input-field">
                <label>CGPA</label>
                <input type="text" placeholder="Enter your CGPA"/>
            </div>
        </div>
        <div class="input-field">
            <label>Passed Courses</label>
            <select>
                <option>Choose your Passed Courses</option>
                <option>Course 1</option>
                <option>Course 2</option>
                <option>Course 3</option>
            </select>
            <br>
        </div>
        <br>
        <div class="input-field">
            <label>Failed Courses</label>
            <select>
                <option>Choose your Failed Courses</option>
                <option>Course 1</option>
                <option>Course 2</option>
                <option>Course 3</option>
            </select>
        </div>
        <button class="button">Get Recommendations</button>
    </div>
</body>
</html>